body,html{
    margin: 0;
    padding: 0;
    width: 100%;
}


/* CSS untuk mengatur tata letak */
.container {
display: flex;
justify-content: space-between;
}

.left-section,.right-section {
width: 48%;
text-align: center;

}

.button-pick{
font-size: 50px;
border:none;
background-color: transparent;
padding: 250px 200px;
cursor: pointer;
transition: box-shadow 0.3s ease;
}

.button-pick:hover{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.port{
    font-size: 30px;
    padding: 10px 20px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    display: flex;
}

.button-port{
    background-color: transparent;
    border-radius: 15%;
    font-size:30px;
    border: none;
    padding:5px 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
} .button-port:hover{box-shadow: 0 0 10px rgba(0,0,0, 0.5);}

.img-port{
    padding: 5px 10px 0;
    width: 30px;
    height: 30px;
}

.container2{
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
.left-desc,.right-desc{
    width: 49%;
    text-align: center;
}

.judul-penjelasan{
    font-size:30px;
    font-weight: bold;
    color: black;
}

.penjelasan{
    font-size: 15px;
}

.body-main-content{
    padding:20px 30px ;
    background-color: #FFF9D0;
}
.inside-main-content{
    padding:10px 10px 5px;
    justify-content: space-between;
    display: flex;
}

.sub-main-content{
    background-color: #5AB2FF;
    color:white;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    height: 200px;
    padding: 10px 6px;
    transition: box-shadow 0.5 ease;
    cursor:context-menu;
}.sub-main-content:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.other-content{
    padding:20px 30px;
    background-color: rgb(0, 0, 112);
    align-items: center;
    justify-content: center;
}
.judul-other-content{
    font-size:30px;
    font-weight: bold;
    color: white;
    margin-left: 12px;

}
.img-content{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.img-content-gojo{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height:500px;
}
.img-content2a{
    height: 50px;
    width: 50px;
}
.img-content2{
    height: 100px;
    width: 100px;
}

.easter-content{
    padding: 20px 20px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: white;
}.inside-easter-content{
    padding: 0 10px 10px;
    align-items: center;
    background-color: white;
    font-size: 40px;
}

.change-text{
    color: black;
    font-size: 25px;
}
.change-button{
    border-radius: 50px;
    background-color: rgb(187, 179, 179);
    font-size: 20px;
    width: 50px;
    border-color: transparent;
    transition: box-shadow 0.3s ease;
}.change-button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.materi-content{
    padding: 3px 5px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.materi-pic-content{
    padding: 10px 10px 10px ;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.materi-penj-content{
    padding: 3px 10px 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 500px;
    height: auto;
}

.materi-penj-content2{
    padding: 3px 10px 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 1000px;
    height: auto;
}
